header {
    background: url(/images/grass.jpeg);
    background-size: cover;
    background-position: flex-start;
    padding-top: 5%;
    background-repeat: no-repeat;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: #000;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.40);
    font-family: "Lilita One";
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #ffffff50;
    border-radius: 15px;
    padding: 20px;
    max-width: fit-content;
}

header h2 {
    color: #000;
    font-family: "Libre Caslon Text";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #ffffff50;
    border-radius: 15px;
    padding: 20px;
    max-width: fit-content;
}

button {
    width: 424px;
    height: 123px;
    flex-shrink: 0;
    font-family: "Lilita One";
    font-size: 48px;
    color: #000;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.40);
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #EDFFEE;
}

main p:nth-child(1) {
    font-family: "Lilita One";
    font-size: 48px;
    color: #000;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.40);
    text-align: center;
    text-decoration: underline;
}

main p:nth-child(1):hover {
    cursor: pointer;
    color: blue;
}

main p:nth-child(2) {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: flex-start;
    font-family: "Libre Caslon Text";
    font-size: 20px;
    font-weight: 400;
    margin-left: 7%;
}



main {
    background: url(/images/grass.jpe);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main p:nth-child(5) {
    grid-column: 1 / 2;
    display: flex;
    width: 635px;
    height: 254px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: flex-start;
    font-family: "Libre Caslon Text";
    font-size: 36px;
    font-weight: 400;
    margin-left: 7%;
}