*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lilita One', sans-serif;
    color: #000000;
    height: 100%;
}

html {
    height: 100%;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
}

nav img {
    width: 5%;
    border-radius: 50%;
    transition: 0.3s;
}

nav img:nth-child(3) {
    border: solid 1px;
}

nav img:hover {
    transform: scale(1.1);
}

nav p {
    margin: 0;
    font-weight: 600;
    font-size: 130%;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
    border: solid 1px #000000;
    padding: 15px 30px;
    border-radius: 20px;
}

nav p:hover {
    transform: scale(1.1);
}

main {
    padding-bottom: 10%;
    background: url(/images/background-dog.png) no-repeat center center fixed;
    background-size: cover;
}

header h1 {
    font-size: xxx-large;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-top: 5%
}

section {
    background:url(/images/bone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding: 150px ;
    
}
section h3 {
    font-size: x-large;
    margin-bottom: 15px;
}

section p {
    font-size: large;
    color: #2c2c2c;
    margin: 10px;
}