body {
    margin: 0;
    font-family: 'Lilita One', sans-serif;
    background-color: #EDFFEE;
    color: #000000;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
}

nav img {
    width: 6%;
    border-radius: 50%;
    transition: 0.3s;
}

nav img:hover {
    transform: scale(1.1);
}

nav p {
    margin: 0;
    font-weight: 600;
    font-size: 150%;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
    border: solid 1px #000000;
    padding: 15px 30px;
    border-radius: 20px;
}

nav p:hover {
    transform: scale(1.1);
}

main {
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: xxx-large;
    color: #000000;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

section h3 {
    font-size: x-large;
    margin-bottom: 15px;
}

section p {
    font-size: large;
    color: #2c2c2c;
    margin: 10px;
}

.Dog {
    width: 100%;
    margin-top: px;
}