*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav img {
    width: 30%;
    border-radius: 50%;
    transition: 0.3s;
}

nav img:hover {
    transform: scale(1.1);
}

nav p {
    font-weight: 600;
    font-size: 130%;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
    border: solid 1px #000000;
    padding: 15px 30px;
    border-radius: 20px;
}

nav p:hover {
    transform: scale(1.1);
}

body {
    background-color: #e8fce9;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    margin-top: 30px;
}

header h1 {
    background-color: #7de47d;
    display: inline-block;
    padding: 12px 80px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    padding: 40px 60px;
    margin:  0 20%;
}

main a img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    margin-bottom: 10px;
    transition: 0.3s;
}

main a img:hover {
    transform: scale(1.1);
}


main p {
    font-weight: bold;
    text-align: center;
    background: white;
    border-radius: 8px;
    padding: 8px 0;
    margin: 5px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.Donald {
    border: 5px solid #f7e18f;
    background-color: #fff9da;
}
.Domi {
    border: 5px solid #f3b4da;
    background-color: #ffe0f0;
}
.Sunshine {
    border: 5px solid #b4d48a;
    background-color: #f7ffe2;
}
.Bruno {
    border: 5px solid #a7dfff;
    background-color: #e5f8ff;
}

main a, main p {
    display: block;
    text-decoration: none;
    color: black;
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr; /* single column */
        gap: 30px;
        padding: 20px 30px;
        margin: 0 10%;
    }

    main a img {
        width: 100%; /* fill container width */
        height: auto;
        margin-bottom: 8px;
    }

    main p {
        font-size: 1rem;
        padding: 6px 0;
    }
}