








*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.Gooback{
width: 60px;
height: 60px;
flex-shrink: 0;
stroke-width: 1px;
stroke: #000;
}

.Q{
display: flex;
margin-left: 83%;
color: blue;

}


.QM :hover {
    transform: scale(1.1);
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.no-bull{
width: 400px;
height: 1024px;
flex-shrink: 0;
background: #EDFFEE;

}


.boxnoto{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}


.boxpo {
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxdeo {
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxzo{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxao{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.REo{
color: #F00;
width: 400px;
height: 60px;
flex-shrink: 0;
background: #FFF;
}


.Passasec{
display: flex;
margin-left: 39%;
margin-top: -48%;
font-size: xxx-large;
}

.Ulpt2{
display: flex;
margin-left: 44%;
flex-direction: column;
margin-top: 5%;
font-size: xx-large;
line-height: 300%;
}

.ChangeE{
display: flex;
margin-left: 44%;
font-size: xxx-large;
margin-top: 3%;
}

.Ulpt3{
display: flex;
margin-left: 44%;
font-size: xxx-large;
margin-top: 2%;
flex-direction: column;
line-height: 200%;
}