*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav img {
    width: 30%;
    border-radius: 50%;
    transition: 0.3s;
}

nav img:hover {
    transform: scale(1.1);
}

nav p {
    font-weight: 600;
    font-size: 130%;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
    border: solid 1px #000000;
    padding: 15px 30px;
    border-radius: 20px;
}

nav p:hover {
    transform: scale(1.1);
}

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}



.RED{
color: #F00;
width: 400px;
height: 60px;
flex-shrink: 0;
background: #FFF;
}

.JARLPFP{
    display: flex;
width: 540px;
  height: 510px;
  flex-shrink: 0;
  border-radius: 250px;
  border: 1px solid #000;
  margin: 0 auto;
  margin-top: -45%;
  

}


.MAP{
display: flex;
margin-left: 38%;
margin-top: -37%;
font-size: xxx-large;
}

.JK{
    display: flex;
    margin-left: 43.5%;
    margin-top: 4%;
    font-size: xx-large;
}

.EP{
    display: flex;
    margin-left: 46%;
    margin-top: 30%;
    font-size: x-large;
    color: #002BFF;
}


.PetDescc{
    display: flex;
width: 382px;
height: 300px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: "Libre Caslon Text";
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 78%;
margin-top: -22%;
border-style: solid;

}

.EDescc{
color: #002BFF;

text-align: center;
font-family: "Libre Caslon Text";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 77%;
}

.no-bullet{
width: 400px;
height: 1024px;
flex-shrink: 0;
background: #EDFFEE;
}




.boxnoti{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}


.boxpl {
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxdee {
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxPs{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxs{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}

.boxac{
width: 400px;
height: 60px;
flex-shrink: 0;
border: 4px solid #EDFFEE;
background: #FFF;
}