nav{
display: flex;
font-size: xx-large;
text-align: left;
}

.sidebar{
width: 100px;
padding: 100px 0;
font-size: 90px;
writing-mode: vertical-rl;
display: flex;
align-items: center;
margin-top: 5%;
width: 400px;
height: 1024px;
flex-shrink: 0;
background: #EDFFEE;

}

.no-bullets{
list-style-type: none;
display: flex;
text-align: center;
flex-direction: column;
font-size: xxx-large;
margin-top: -60%;
line-height: 380%;


}

.boxplz {
display: flex;
margin-left: 40%;
border: solid;
margin-right: 39%;
}

.boxdeets{
display: flex;
margin-left: 40%;
border: solid;
margin-right: 48%;
margin-top: 5%;
}

.boxPs{
display: flex;
margin-left: 40%;
border: solid;
margin-right: 39%;
margin-top: 5%;
}

.boxnotis{
display: flex;
margin-left: 40%;
border: solid;
margin-right: 45%;
margin-top: 5%;
}

.boxact{
display: flex;
margin-left: 40%;
border: solid;
margin-right: 46%;
margin-top: 5%;
}