*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lilita One', sans-serif;
    color: #000000;
    height: 100%;
}

html {
    height: 100%;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav img {
    width: 30%;
    border-radius: 50%;
    transition: 0.3s;
}

nav img:hover {
    transform: scale(1.1);
}

nav p {
    font-weight: 600;
    font-size: 130%;
    cursor: pointer;
    color: #000000;
    transition: 0.3s;
    border: solid 1px #000000;
    padding: 15px 30px;
    border-radius: 20px;
}

nav p:hover {
    transform: scale(1.1);
}
