Header {
    color: #000;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    background-color: lightgrey;
    width: ;
}

.LastN {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.Type1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: grey;
}

.FirstN {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.Type2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: grey;
}

.Email {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}

.Type3 {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    background-color: grey;
}

.Password {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.Type4 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-color: grey;
}

.Description {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.Confirm {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.Type5 {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    background-color: grey;
}

main a:nth-child(13) {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
}

main a:nth-child(12){
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}