*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

Header {
    color: #000;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    font-size: xx-large;
    font-weight: 400;
}

main {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 40px 0px;
    background-color: lightgrey;
    padding-top: 50px;
    margin: 10%;
    border-radius: 15px;
}

.LastName {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: large;
}

.Type1 {
    background-color: grey;
    padding: 10px;
    
}

.FirstName {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    font-size: large;
}

.Type2 {
    background-color: grey;
    padding: 10px;
}

.Email1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: large;
}

.Type3 {
    background-color: grey;
    padding: 10px;
}

.ZipCode {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    font-size: large;
}

.Type4 {
    background-color: grey;
    padding: 10px;
}

.Password1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: large;
}

.Type5 {
    background-color: grey;
    padding: 10px;
}

.Description {
    font-size: x-small;
}

.Confirm1 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    font-size: large;
}

.Type6 {
    background-color: grey;
    padding: 10px;
}

main a:nth-child(8) {
    grid-column: 4 / 5;
    grid-row: 4 / 4;
    font-size: x-large;
    color: black;
    display: flex;
    justify-self: flex-end;
    text-decoration: none;
}

main a:nth-child(7):hover {
    text-decoration: underline;
    color: rgb(9, 9, 116);
}

main a:nth-child(7){
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    font-size: large;
}